.row 
  .span7.offset2
    %h1 Sign In

.row
  .span6.offset4

    = form_for(:session, url: sessions_path) do |f|

      = f.label :email
      %br/
      = f.text_field :email
      %br/

      = f.label :password
      %br/
      = f.password_field :password

      = f.submit "Sign-in"

    = link_to "Home", root_path 
    | Not a member?
    = link_to "Sign Up", new_user_path
