- provide(:title, @user.name)
.row
  .span6.offset2
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email_address
    %p
      %b Likes:
      = @user.likes
    %br/
    %p
      %b Distribution Lists:
      %br/
      Lists will go here...

    %br/
    %p
      %b Emails:
      %table
        %tr
          %th To
          %th Subject
          %th
          %th
        - @emails.each do |email|
          %tr
            %td= email.to
            %td= email.subject
            %td= link_to 'Show', user_email_path(@user, email)
