%h1 Listing emails
%table
  %tr
    %th From
    %th To
    %th Subject
    %th
    %th
  - @emails.each do |email|
    %tr
      %td= email.from
      %td= email.to
      %td= email.subject
      - if @user
        %td= link_to 'Show', user_email_path(@user, email)
      - else
        %td= link_to 'Show', email
